body {
    background-color: rgba(173, 216, 230, 0.2);
}


h1 {
    color: black, ; 
    
} 

img {
    position: fixed;
    top: 0;
    right: 0;
    width: 140px;
    height: 140px;
    margin-top: 0.5cm;
    margin-right: 0.5cm;
  }

  .btn {
    margin: 7px; /* Abstand um alle Seiten des Buttons */
  }
  